<div class="card">
  <div class="card__body">
    <%# //トレーニングの目的 %>
    <%= link_to training.title, training_path(training.id), class: :card__title%>
    <%# //お気に入りボタンの追加%>
    <% if user_signed_in? %>
      <% if training.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
          <p><span>お気に入り解除: </span><%=link_to training.favorites.count, training_favorites_path(training.id), method: :delete, class: :card__like %></p>
      <% else %>
          <p><span>お気に入り登録: </span><%=link_to training.favorites.count, training_favorites_path(training.id), method: :post, class: :card__like %></p>
      <% end %>
    <%# //フォロー済みボタン、フォローするボタンの追加%>
      <% if current_user != training.user %>
          <% if training.user.followed_by?(current_user) %>
              <p><%= link_to "#{current_user.name}は#{training.user.name}さんをフォロー済み", user_relationships_path(training.user.id), method: :delete, class: :user__follow %></p>
          <% else %>
              <p><%= link_to "#{training.user.name}さんをフォローする", user_relationships_path(training.user.id), method: :post, class: :user__follow %></p>
          <% end %>
      <% end %>
    <% else %>
        <p><span>お気に入り数: </span><%= training.favorites.count %></p>
    <% end %>
      <%# //ユーザー名 %>
    <%= link_to "by #{training.user.name}", training_path(training.id), class: :card__user %>
  </div>
</div>