<main class="main">
  <div class="inner">
    <div class="training__wrapper">
      <%= link_to @training.user.name, user_path(@training.user_id), class: :training__user %>
      <% if user_signed_in? && current_user.id == @training.user_id %>
        <div class="training__manage">
          <%= link_to "編集する", edit_training_path, class: :training__btn %>
          <%= link_to "削除する", training_path(@training.id), method: :delete, class: :training__btn, data: { confirm: "このデータでよろしいですか？" } %>
        </div>
      <% end %>
      <p class="training__hedding">
        <div class="training__detail">
          <p class="detail__title">トレーニングの目的</p>
          <p class="detail__message">
            <%= @training.title %>
          </p>
        </div>
      </p>
      <div class="training__body">
        <div class="training__detail">
          <p class="detail__title">トレーニングの合計時間</p>
          <p class="detail__message">
            <%= @training.trainingtime.name %>
          </p>
        </div>
        <div class="training__detail">
          <p class="detail__title">トレーニングの部位</p>
          <p class="detail__message">
            <%= @training.part.name %>
          </p>
        </div>
        <div class="training__detail">
          <p class="detail__title">トレーニングの種目</p>
          <p class="detail__message">
            <%= @training.event %>
          </p>
        </div>
      </div>

      <div class="training__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@training, @comment], local: true do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_area :text, class: :form__text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%= link_to comment.user.name , user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
